

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h1>ご注文ありがとうございます</h1>

      <div class="d-grid gap-2 col-sm-4 mx-auto mt-3">
        <%= link_to '商品一覧へ', products_path, class: 'btn btn-lg btn-success' %>
      </div>

    </div>
  </div>
</div>