
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">直売所.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <form class="d-flex ms-auto">
          <input class="form-control w-auto" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success text-nowrap me-2" type="submit">商品検索</button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">ログイン</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#">カート</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
