<%
  if user_signed_in?
    @auth_state = "ログインしています"
  else
    @auth_state = "ログインしていません"
  end
%>

<div style="background-color: #f2f2f2; padding-top: 30px">
  <%= link_to 'ログイン', new_user_session_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <p>ログイン状態: <%= @auth_state %></p>
</div>

