<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h1 class="mb-5">仮会員登録完了</h1>
      <p>登録確認メールを送信しました。</p>
      <p>メールに記載されているURLにアクセスすると、会員登録が完了します。</p>

      <div class="mx-auto mt-3">
        <%= link_to 'トップページへ', root_path, class: 'btn btn-lg btn-success' %>
      </div>

    </div>
  </div>
</div>